$primary: #72a59c;
$secondary: #bedbd6;
$grey: #959595;

$font-text: 2rem;
$font-big-text: 2.5rem;
$font-small: 1.6rem;
$font-tiny: 1.2rem;
$font-small-head: 3rem;
$font-med-head: 4rem;
$font-big-head: 6rem;
