@import 'variables';
@import 'mixins';

.highlight {
  background-color: $secondary;
}

.portal {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4rem;
  margin: 3rem 0;
  min-height: 60rem;

  &__sidebar {
    width: 20%;
    min-width: 30rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid $primary;

    &__skeleton {
      width: 80%;
    }

    h2 {
      font-size: $font-big-text;
      width: 80%;
      text-align: center;
    }
    a {
      font-size: $font-text;
      color: #000;
      text-decoration: none;
      padding: 0.2rem 1.5rem;
      border: 1px solid $primary;
      border-radius: 20px;
    }

    &__tabs {
      margin-top: 5rem;

      ul {
        a {
          border: none;

          li {
            display: flex;
            flex-direction: row;
            padding: 1rem 2rem;
            border-radius: 10px;

            img {
              width: 3rem;
              height: 3rem;
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }

  &__right {
    width: 80%;

    h1 {
      font-size: $font-small-head;
    }

    &__blocks {
      display: flex;
      flex-direction: row;
      gap: 5rem;

      &__clients {
        width: 50%;
      }

      &__subscription {
        width: 50%;
      }
    }
  }
}
