@import 'variables';
@import 'mixins';

.contact {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin: 5rem 0;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__left {
    h1 {
      font-size: $font-big-head;
    }
    p {
      font-size: $font-text;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    form {
      margin: 4rem 0 0 0;
      div {
        label {
          display: flex;
          flex-direction: row;
          gap: 2rem;
          justify-content: left;
          align-items: center;

          .number {
            padding: 0 1rem;
            border-radius: 10px;
            border: 1.2px solid #000;
          }
          .label {
            font-weight: 700;
          }
        }

        input {
          border-style: none;
          border-bottom: 1px solid #000;
          margin: 1rem 0 2rem 6.5rem;
          font-size: $font-text;
          width: 40rem;

          @include respond(tab-port) {
            width: calc(100% - 6.5rem);
          }
          padding: 0.5rem;

          &:focus {
            outline: none;
          }
        }
      }
    }
    &__response {
      font-size: $font-text;
      margin: 1rem 0;
      color: $primary;
    }
    button {
      color: #fff;
      padding: 1rem 3rem;
      background-color: $primary;
      border-style: none;
      font-size: $font-text;
      font-weight: 700;
      cursor: pointer;
    }
  }

  &__right {
    font-size: $font-text;

    @include respond(tab-port) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
    }
    @include respond(phone) {
      justify-content: space-between;
    }

    img {
      height: 25rem;

      @include respond(phone) {
        height: 15rem;
      }
    }
    h2 {
      margin-top: 1rem;
      font-size: $font-text;
    }
    p {
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }
}
