@import 'variables';
@import 'mixins';

.home {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    width: 100vw;
    margin-left: -6rem;
    margin-bottom: 5rem;

    @include respond(tab-land) {
      align-items: center;
      margin-top: 6rem;
    }

    @include respond(tab-port) {
      flex-direction: column;
      width: 100%;
      margin-left: 0;
    }

    &__left {
      width: 50%;
      margin: 10rem 0 0 6rem;
      position: relative;

      @include respond(tab-land) {
        margin: 0 0 0 6rem;
      }
      @include respond(tab-port) {
        width: 100%;
        margin: 0;
      }

      h1 {
        font-size: $font-big-head;
        position: relative;
        width: 60rem;

        @include respond(tab-port) {
          width: 100%;
        }

        @include respond(phone) {
          font-size: $font-med-head;
        }

        span {
          position: relative;
          white-space: no-wrap;

          p {
            display: inline-block;
            position: relative;
            z-index: 2;
            // margin: 0 2rem;
            font-size: $font-big-head;
            white-space: no-wrap;

            @include respond(phone) {
              font-size: $font-med-head;
            }
          }
          img {
            position: absolute;
            bottom: 1rem;
            left: 2rem;
            width: 40rem;
            z-index: 1;

            @include respond(phone) {
              width: 25rem;
            }
          }
        }
      }

      p {
        font-size: $font-text;
        margin: 2rem 0;

        @include respond(phone) {
          margin: 0;
        }
      }

      a {
        font-size: $font-text;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
          margin-right: 1rem;
        }
      }
    }

    &__right {
      width: 50%;

      @include respond(tab-port) {
        width: 100%;
      }

      img {
        height: auto;
        width: 100%;
        object-fit: contain;
        object-position: left top;

        @include respond(tab-land) {
          object-fit: cover;
          height: 60rem;
        }
        @include respond(tab-port) {
          height: 50rem;
          width: auto;
          object-fit: cover;
          margin: 0 auto;
          display: block;
        }
        @include respond(phone) {
          height: auto;
          width: 100%;
        }
      }
    }
  }

  &__protection {
    width: 100vw;
    margin-left: -6rem;
    padding: 4rem 6rem;
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;

    @include respond(tab-port) {
      flex-direction: column;
      margin-left: -5rem;
    }
    @include respond(phone) {
      margin-left: -2rem;
      padding: 4rem 2rem;
    }

    &__left {
      width: 40%;

      @include respond(tab-port) {
        width: 40rem;
      }
      @include respond(phone) {
        width: 80%;
      }

      img {
        width: 100%;
        object-fit: contain;
      }
    }
    &__right {
      width: 60%;

      @include respond(tab-port) {
        width: 100%;
      }

      h2 {
        font-size: $font-med-head;
        font-weight: 400;
      }
      p {
        font-size: $font-text;
        margin: 2rem 0;

        span {
          margin: 0 0 0 1rem;

          span {
            color: $primary;
            margin: 0;
          }
        }
      }
      &__accent {
        padding: 1rem 1rem 1rem 2rem;
        border-left: 3px solid $primary;
      }
      a {
        color: #fff;
        background-color: #000;
        padding: 1.5rem 2rem;
        border-radius: 15px;
        font-size: $font-text;
        text-decoration: none;
        display: inline-block;
      }
    }
  }

  &__how {
    margin-top: 5rem;

    h2 {
      font-size: $font-med-head;
      text-align: center;
    }
    p {
      font-size: $font-text;
      text-align: center;
      color: $grey;
    }

    &__graphics {
      display: flex;
      flex-direction: column;
      width: 100vw;
      margin-left: -6rem;
      margin-top: 5rem;

      @include respond(phone) {
        margin: 5rem 0 0 0;
        width: 100%;
      }

      .item__right {
        justify-content: flex-end;

        @include respond(phone) {
          justify-content: center;
        }

        .home__how__graphics__item__graphic {
          @include respond(tab-port) {
            flex-direction: column-reverse;
          }
        }
      }

      &__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 4rem;

        @include respond(phone) {
          justify-content: center;
        }

        &__graphic {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          @include respond(tab-port) {
            flex-direction: column;
          }

          &__line {
            width: 40rem;

            @include respond(tab-port) {
              width: 20rem;
              height: 0.3rem;
            }
            @include respond(phone) {
              display: none;
            }
          }

          &__card {
            padding: 5rem 2rem;
            background-color: $secondary;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 35rem;
            text-align: center;
            box-shadow: 0 10px 15px rgba($color: #000, $alpha: 0.1);

            @include respond(phone) {
              width: 30rem;
            }

            img {
              width: 10rem;
            }
            h4 {
              font-size: $font-text;
              margin: 2rem;
            }
            p {
              color: #000;
            }
          }
        }

        h3 {
          font-size: $font-small-head;
          color: $grey;
          margin-left: 3rem;
          font-weight: 400;
          width: 20rem;
        }
      }
    }
  }

  &__faq {
    width: 100vw;
    margin-left: -6rem;
    background-color: $secondary;
    padding: 3rem 6rem;
    margin-top: 5rem;

    @include respond(tab-port) {
      margin-left: -5rem;
    }
    @include respond(phone) {
      margin-left: -2rem;
    }

    &__header {
      position: relative;
      h2 {
        font-size: $font-med-head;
        font-weight: 400;
      }
      img {
        position: absolute;
        top: 0rem;
        left: 50rem;
        height: 2rem;

        @include respond(phone) {
          left: -1rem;
          top: -0.5rem;
          transform: rotate(270deg);
        }
      }
    }

    &__subhead {
      font-size: $font-text;
      width: 60rem;

      @include respond(phone) {
        width: 100%;
      }
    }

    &__qs {
      margin-top: 3rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 4rem;

      @include respond(tab-port) {
        justify-content: space-between;
      }

      &__item {
        width: 30%;
        font-size: $font-text;

        @include respond(tab-port) {
          width: 45%;
        }
        @include respond(phone) {
          width: 100%;
        }
      }
    }

    &__cta {
      background-color: #fff;
      border-radius: 15px;
      padding: 2rem;
      margin-top: 3rem;
      font-size: $font-text;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include respond(tab-port) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      a {
        color: #fff;
        background-color: #000;
        padding: 1.5rem 2rem;
        border-radius: 15px;
        font-size: $font-text;
        text-decoration: none;
        display: inline-block;

        @include respond(tab-port) {
          margin: 1rem;
        }
      }
    }
  }
}
