@import 'variables';
@import 'mixins';

.edit {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4rem;
  margin: 3rem 0;
  min-height: 60rem;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__right {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include respond(tab-port) {
      width: 100%;
    }

    h1 {
      font-size: $font-small-head;
    }

    &__settings {
      &__item {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 2rem;

        @include respond(phone) {
          flex-direction: column;
          align-items: flex-start;
        }

        &__info {
          h2 {
            font-size: $font-text;
          }
          p {
            font-size: $font-small;
            color: #979797;
          }
        }

        input {
          margin: 0 1rem;
          width: 50%;
          height: 4rem;
          border-radius: 10px;
          border: 1px solid #000;
          padding-left: 1rem;

          @include respond(phone) {
            margin: 0;
            width: 100%;
          }
        }

        label {
          font-size: $font-small;
          color: red;
        }
      }

      &__reset {
        color: #fff;
        background-color: #000;
        padding: 1rem 6rem;
        border-radius: 10px;
        border-style: none;
        cursor: pointer;
        font-size: $font-text;
      }
      &__subhead {
        font-size: $font-small;
        width: 40rem;
        color: #979797;
        margin-top: 0.5rem;

        @include respond(phone) {
          width: 100%;
        }
      }
      &__response {
        font-size: $font-text;
        color: $primary;
      }
    }
    &__save {
      color: #fff;
      background-color: $primary;
      padding: 1.5rem 4rem;
      width: 22rem;
      border-radius: 10px;
      border-style: none;
      cursor: pointer;
      font-size: $font-text;
    }
  }
}
