@import 'variables';
@import 'mixins';

.signin {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0;

  &__left {
    padding: 4rem;
    width: 50%;

    @include respond(tab-port) {
      width: 100%;
    }
    h2 {
      font-size: $font-med-head;
    }
    &__subhead {
      font-size: $font-small;
      color: #959595;
    }
    &__form {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      label {
        font-size: $font-small;
      }
      &__input {
        width: 100%;
        height: 3rem;
        border-radius: 5px;
        border: 1px solid #959595;
        margin-bottom: 2rem;
        padding: 0.5rem;
      }

      &__honeypot {
        display: none;
      }

      &__show {
        text-align: right;
        margin-top: -1rem;
        cursor: pointer;
        font-size: $font-small;
      }

      &__forgot {
        color: $primary;
        text-align: left;
        background-color: transparent;
        border-style: none;
        text-decoration: underline;
        cursor: pointer;
        font-size: $font-small;
      }

      &__submit {
        color: #fff;
        background-color: $primary;
        padding: 1rem;
        border-radius: 10px;
        border-style: none;
        margin: 1rem 0;
        cursor: pointer;
      }

      &__noaccount {
        font-size: $font-tiny;
        text-align: center;

        a {
          color: $primary;
        }
      }

      &__error {
        margin: 1rem auto;
        color: red;
        font-size: $font-small;
      }
      &__success {
        margin: 1rem auto;
        font-size: $font-small;
        color: $primary;
      }
    }
  }

  &__right {
    height: 60rem;
    background-color: $secondary;
    border-radius: 15px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
      display: none;
    }

    h2 {
      font-size: $font-small-head;

      span {
        color: $primary;
      }
    }
  }
}
